<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase"></i>
                        <span>ADMIN</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Admin")">Dashboard</a></li>
                        <li><a href="@Url.Action("Users","Admin")">Add User</a></li>
                        <li><a href="@Url.Action("layout-compact-sidebar","Layouts")">Add Product</a></li>
                        <li><a href="@Url.Action("layout-icon-sidebar","Layouts")">Returns</a></li>
                        <li><a href="@Url.Action("layout-boxed","Layouts")">Messaging</a></li>
                        <li><a href="@Url.Action("layout-preloader","Layouts")">Reports</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calculator"></i>
                        <span>SALES</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("layout-horizontal","Layouts")">Pos</a></li>
                        <li><a href="@Url.Action("layout-light-sidebar","Layouts")">Sales History</a></li>
                        <li><a href="@Url.Action("layout-compact-sidebar","Layouts")">Returns</a></li>
                        <li><a href="@Url.Action("layout-icon-sidebar","Layouts")">Messages<span class="badge badge-pill badge-info float-right">3</span></a></li>
                        <li><a href="@Url.Action("layout-boxed","Layouts")">Change Password</a></li>
                       
                    </ul>
                </li>

          
                



            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->